@media print { 
    body * {
        visibility: hidden;
    }
   #relatorio, #relatorio * {
        visibility: visible;
    }
    #relatorio {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    /*Aqui começa a mecher dentro do site, em cima é o código do relatório*/
}
body{
        margin: 0; 
        padding: 0;
        
        background-color: #4e5f51;
        color:#f0da96;
}
header{
    text-align: center;
    background-color: #2b2b2b3b ;
    width: auto;
    height: auto;
}

footer{
    background-color: #2b2b2b3b;
    width: auto;
    height: 150px;
}
.pé{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

}
.lado {
    display: flex; 
    justify-content: space-around; 
    align-items:flex-start; 
}

.texto {
    width: 45%;
    padding: 25px;
    background-color:#2b2b2b3b;
    border: 1px solid #000000;
    border-radius: 8px;
    
}


  /*Cor do texto*/
h2 {      
    color: #f7e6a9;
}

.lado1 {
    display: flex; 
    justify-content: space-around; 
    align-items:flex-start; 
}

.texto1 {
    width: 45%;
    padding: 25px;
    background-color: #2b2b2b3b;;
    border: 1px solid #000000;
    border-radius: 8px;
    
}

.texto2 {
    width: 45%;
    padding: 25px;
    background-color: #2b2b2b3b;;
    border: 1px solid #000000;
    border-radius: 8px;
   
}
.lado2 {
    display: flex; 
    justify-content: space-around; 
    align-items:flex-start; 
}

.texto2 {
    width: 45%;
    padding: 25px;
    background-color: #2b2b2b3b;;
    border: 1px solid #000000;
    border-radius: 8px;
   
}